In [13]:
# Magic comment
%matplotlib inline

# Import libraries
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import matplotlib as mpl
from matplotlib.colors import LinearSegmentedColormap
import seaborn as sns
import cv2 as cv

In [14]:
# Load files
N_rep = 12
df_index = pd.read_table('data/replica_index.xvg', delim_whitespace=True,  skiprows=1, 
                         names=['%d' % i for i in range(0, N_rep)]).reset_index().drop(['index'], axis=1)
df_tindex = pd.read_table('data/replica_temp.xvg', delim_whitespace=True,  skiprows=1, 
                          names=['%d' % i for i in range(0, N_rep)]).reset_index().drop(['index'], axis=1)
df_tindex.head(10)

   0  1  2  3  4  5  6  7  8  9  10  11
0  1  0  3  2  4  5  7  6  8  9  10  11
1  2  0  4  1  3  6  7  5  8  9  10  11
2  3  0  5  1  2  6  7  4  8  9  10  11
3  3  0  5  2  1  6  8  4  7  9  10  11
4  3  1  5  2  0  6  8  4  7  9  10  11
5  4  2  5  1  0  6  7  3  8  9  10  11
6  4  2  5  1  0  6  7  3  8  9  11  10
7  3  2  5  1  0  6  8  4  7  9  11  10
8  3  2  4  1  0  6  8  5  7  9  10  11
9  3  2  4  1  0  6  7  5  8  9  10  11

In [15]:
df_temp0 = pd.read_table('data/temp0.xvg', delim_whitespace=True,  skiprows=19, names=['temp0']).reset_index()
df_temp1 = pd.read_table('data/temp1.xvg', delim_whitespace=True,  skiprows=19, names=['temp1']).reset_index()
df_temp2 = pd.read_table('data/temp2.xvg', delim_whitespace=True,  skiprows=19, names=['temp2']).reset_index()
df_temp3 = pd.read_table('data/temp3.xvg', delim_whitespace=True,  skiprows=19, names=['temp3']).reset_index()
df_temp4 = pd.read_table('data/temp4.xvg', delim_whitespace=True,  skiprows=19, names=['temp4']).reset_index()
df_temp5 = pd.read_table('data/temp5.xvg', delim_whitespace=True,  skiprows=19, names=['temp5']).reset_index()
df_temp6 = pd.read_table('data/temp6.xvg', delim_whitespace=True,  skiprows=19, names=['temp6']).reset_index()
df_temp7 = pd.read_table('data/temp7.xvg', delim_whitespace=True,  skiprows=19, names=['temp7']).reset_index()
df_temp8 = pd.read_table('data/temp8.xvg', delim_whitespace=True,  skiprows=19, names=['temp8']).reset_index()
df_temp9 = pd.read_table('data/temp9.xvg', delim_whitespace=True,  skiprows=19, names=['temp9']).reset_index()
df_temp10 = pd.read_table('data/temp10.xvg', delim_whitespace=True,  skiprows=19, names=['temp10']).reset_index()
df_temp11 = pd.read_table('data/temp11.xvg', delim_whitespace=True,  skiprows=19, names=['temp11']).reset_index()
df_temp = pd.concat([df_temp0, df_temp1, df_temp2, df_temp3, df_temp4, df_temp5, \
                                       df_temp6, df_temp7, df_temp8, df_temp9, df_temp10, df_temp11], 
                                       axis=1).reset_index().drop(['index', 'level_0'], axis=1)
df_temp.head(10)

,temp0,temp1,temp2,temp3,temp4,temp5,temp6,temp7,temp8,temp9,temp10,temp11
0,331.371765,370.365173,355.868011,370.285278,390.549286,404.904266,440.235809,443.725830,482.347412,506.734100,528.053284,556.394409
1,365.729584,329.091522,404.868408,399.705292,396.173370,411.040924,456.418945,480.881714,500.664764,512.416077,541.201294,542.125183
2,357.844757,386.639343,409.009338,397.146790,409.872620,431.686890,453.634247,467.225952,489.731964,477.539337,487.448975,555.794617
3,369.577209,367.577820,392.815369,395.102692,389.993225,445.950653,441.082642,437.853821,476.078461,523.710144,528.671143,549.915894
4,350.708313,354.634796,367.565063,380.812347,428.916168,422.526611,465.730865,480.326508,470.593231,497.314178,524.063538,518.398193
5,327.404907,393.127777,380.292419,405.701355,429.907104,431.500336,440.464935,509.677429,481.599335,545.267090,527.366699,557.949951
6,322.901611,363.304993,379.688049,373.472229,398.272552,442.564728,450.740326,436.480804,515.877258,518.513245,492.344543,571.601807
7,361.087219,357.172668,365.984467,388.546234,422.785034,419.846619,403.133575,462.617493,464.408691,477.168427,523.699341,583.199402
8,372.548279,369.554138,383.862701,406.946228,410.520386,405.347839,481.604401,471.250732,435.676788,493.798950,529.416931,545.598022
9,322.942322,358.385284,384.105225,400.709869,400.622925,426.784180,463.575867,458.583130,495.937988,532.163513,541.057373,562.837158

In [16]:
# Data processing
temp_list = [[] for i in range(0, N_rep)]
index = 1
addind = 3

for i, v in df_temp.iterrows():
    for j in range(0, N_rep):
        if i == 0:
            temp_list[j].append(v[j])
        else:
                tindex = df_tindex.iloc[index, j]
                temp_list[j].append(v[tindex])

    if i != 0:
        index += addind
        if addind == 3:
            addind = 2
        else:
            addind = 3
df_temp_skip1000 = pd.DataFrame({'temp': temp_list[5]})
df_temp_skip1000.head(10)

         temp
0  404.904266
1  456.418945
2  453.634247
3  441.082642
4  465.730865
5  440.464935
6  515.877258
7  464.408691
8  435.676788
9  458.583130

In [17]:
df_aveco0 = pd.read_table('data/aveco-time0.dat', delim_whitespace=True,  skiprows=1, names=['time', 'aveco'])
df_aveco1 = pd.read_table('data/aveco-time1.dat', delim_whitespace=True,  skiprows=1, names=['time', 'aveco'])
df_aveco2 = pd.read_table('data/aveco-time2.dat', delim_whitespace=True,  skiprows=1, names=['time', 'aveco'])
df_aveco3 = pd.read_table('data/aveco-time3.dat', delim_whitespace=True,  skiprows=1, names=['time', 'aveco'])
df_aveco4 = pd.read_table('data/aveco-time4.dat', delim_whitespace=True,  skiprows=1, names=['time', 'aveco'])
df_aveco5 = pd.read_table('data/aveco-time5.dat', delim_whitespace=True,  skiprows=1, names=['time', 'aveco'])
df_aveco6 = pd.read_table('data/aveco-time6.dat', delim_whitespace=True,  skiprows=1, names=['time', 'aveco'])
df_aveco7 = pd.read_table('data/aveco-time7.dat', delim_whitespace=True,  skiprows=1, names=['time', 'aveco'])
df_aveco8 = pd.read_table('data/aveco-time8.dat', delim_whitespace=True,  skiprows=1, names=['time', 'aveco'])
df_aveco9 = pd.read_table('data/aveco-time9.dat', delim_whitespace=True,  skiprows=1, names=['time', 'aveco'])
df_aveco10 = pd.read_table('data/aveco-time10.dat', delim_whitespace=True,  skiprows=1, names=['time', 'aveco'])
df_aveco11 = pd.read_table('data/aveco-time11.dat', delim_whitespace=True,  skiprows=1, names=['time', 'aveco'])
df_aveco11.head(10)

   time  aveco
0     0   26.0
1     1   27.0
2     2   27.0
3     3   28.0
4     4   28.0
5     5   28.0
6     6   29.0
7     7   27.0
8     8   29.0
9     9   26.0

In [18]:
df_avetemp = pd.concat([df_aveco5, df_temp_skip1000], axis=1)
df_avetemp.head(10)

   time  aveco        temp
0     0   39.0  404.904266
1     1   39.0  456.418945
2     2   39.0  453.634247
3     3   40.0  441.082642
4     4   39.0  465.730865
5     5   39.0  440.464935
6     6   39.0  515.877258
7     7   39.0  464.408691
8     8   37.0  435.676788
9     9   37.0  458.583130

In [19]:
# Color gradation
gain = 10
offset_x= 0.2
offset_green = 0.6

def sigmoid(x, gain=1, offset_x=0):
    return ((np.tanh(((x + offset_x) * gain) / 2) + 1) / 2)

def colorbar_rgb(x):
    x = (x * 2) - 1
    red = sigmoid(x, gain, - 1 * offset_x)
    blue = 1 - sigmoid(x, gain, offset_x)
    green = sigmoid(x, gain, offset_green) + (1 - sigmoid(x, gain, - 1 * offset_green))
    green = green - 1.0
    return (blue * 255, green * 255, red * 255) # 8 bit (0 ~ 255)

In [20]:
# Make a movie
N_step = int(len(df_avetemp) / 4)
N_para = 12
temp_max = df_avetemp.iloc[:, 2].max()
temp_min = df_avetemp.iloc[:, 2].min()
aveco_max = df_avetemp.iloc[:, 1].max()
aveco_min = df_avetemp.iloc[:, 1].min()

for i in range(0, N_step + 1):
    read_file = 'figures/untitled.{0:05d}.ppm'.format(i)
    write_file = 'figures/write.{0:05d}.ppm'.format(i)
    temp = 'Temperature: {:.5} K'.format(df_avetemp.iloc[i * 4, 2])
    aveco = 'The average coordination number: {:.3}'.format(df_avetemp.iloc[i * 4, 1] / N_para)
    img = cv.imread(read_file)
    cv.putText(img, temp, (5, 30), cv.FONT_HERSHEY_SIMPLEX, 0.8, \
                    colorbar_rgb((df_avetemp.iloc[i * 4, 2] - temp_min) / (temp_max - temp_min)), 2)
    cv.putText(img, aveco, (5, 65), cv.FONT_HERSHEY_SIMPLEX, 0.8, \
                    colorbar_rgb((df_avetemp.iloc[i * 4, 1] - aveco_min) / (aveco_max - aveco_min)), 2)
    cv.imwrite(write_file, img)